<%- include('partials/header') %>

<div class="container mt-5 custContainer">
  <h1 class="display-3 text-center">Secrets</h1>
  <div class="card custCard">
    <div class="card-body">
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control custInp" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control custInp" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark" onsubmit="handleLoginSubmit">Login</button>
      </form>
      <a class="btn btn-block btn-dark myIcon" href="/register" role="button">Not a member? Register</a>
    </div>
  </div>
  <a class="btn btn-block btn-social btn-google myIcon" href="/auth/google" role="button" >
    <i class="fab fa-google"></i>
    Sign In with Google
  </a>
</div>

<%- include('partials/footer') %>