body {
  background-color: #E8ECEF;
}

.custContainer{
  margin: 0 auto 0 auto;
  width: 40%;
  padding-top: 80px;
}

@media only screen and (max-width: 600px) {
  .custContainer {
    margin: 0 auto 0 auto;
    width: 70%;
    padding-top: 80px;
  }
}
.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.myIcon{
  margin-top: 3%;
  text-align: center;
}

.custCard{
  background-color: #ffffff;
}
.custInp {
  border: 1px solid rgba(43, 37, 37, 0.4);
}
footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p {
  color: #ccc;
}